# Database
POSTGRES_HOST=database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
POSTGRES_PORT=5432
POSTGRES_PGDATA=/var/lib/postgresql/data/pgdata
# Logging
LOG_LEVEL = DEBUG
JSON_FORMAT = false
# Server
SERVER_PORT=8000
SERVER_HOST=0.0.0.0
# App
DEBUG = true
# Auth
ALGORITHM=HS256
ACCESS_SECRET=b07sl8e=$^yekz7lpxq*gi7=n@9i^1!1y%i5gg&&l83f1+e*q
REFRESH_SECRET=hgnuz!62df58j%)4u3^ad4fj$lpmt!5_yy1*max*zj4-99y5j
ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_MINUTES=43200
ADMIN_PASSWORD=Stringtest@322
ADMIN_LOGIN=lynx@intehnika.ru
# Redis
REDIS_DATA=/usr/local/etc/redis/redis.conf
REDIS_PASSWORD=password
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB_CACHE=0
REDIS_DB_CELERY=1
# Mailing
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=lynx.intehnika@gmail.com
SMTP_PASSWORD=gswibvmluidfemch
